* {
  box-sizing: border-box;
}

body {
  background-color: gainsboro;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 600px;
}

li {
  margin: 2em 0;
}

a {
  color: inherit;
  text-decoration: none;
}

#comments-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#single-comment {
  width: 600px;
}

.comment-data {
  display: flex;
  justify-content: flex-start;
  padding: 0.5em 0 0;
  font-size: 75%;
  color: hsla(0, 100%, 0%, 0.7);
}

.comment-data > span::after {
  content: "•";
  padding: 0 0.5em;
}

.comment-data > span:last-child::after {
  content: "";
}
