footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto Condensed", sans-serif;
  padding: 1em 1em 1.5em;
}

footer h1 {
  letter-spacing: -1px;
  display: flex;
  align-items: center;
}

footer h1 i {
  margin-right: 0.25em;
}

footer .video-title {
  font-size: 1.5em;
}

footer input[type="text"] {
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 9px;
  padding: 6px 9px;
  font-size: 1.5em;
  font-family: "Roboto Condensed", sans-serif;
  background-color: hsla(0, 100%, 100%, 0.25);
  background-color: transparent;
  color: hsla(0, 0%, 0%, 0.75);
  transition: background-color 125ms ease-in-out, transform 125ms ease-in-out;
}

footer input[type="text"]:focus {
  background-color: hsla(0, 100%, 100%, 0.5);
  transform: scale(1.025);
}

footer input[type="text"]::placeholder {
  color: hsla(0, 0%, 0%, 0.25);
  transition: color 125ms ease-in-out;
}

footer input[type="text"]:focus::placeholder {
  color: hsla(0, 0%, 0%, 0.5);
}

footer button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.5em;
  /* color: hsla(0, 0%, 0%, 0.5); */
  cursor: pointer;
  margin-left: 0.5em;
}

footer button:disabled {
  color: hsla(0, 0%, 0%, 0.25);
  cursor: default;
}

@media (prefers-color-scheme: dark) {
  footer input[type="text"] {
    background-color: hsla(0, 100%, 100%, 0.05);
    color: hsla(0, 0%, 100%, 0.5);
  }

  footer input[type="text"]:focus {
    background-color: hsla(0, 100%, 100%, 0.1);
  }

  footer input[type="text"]::placeholder {
    color: hsla(0, 0%, 100%, 0.25);
  }
}
